.navBar_container {
    width: 100%;
    background: rgba(15, 15, 15, 0.351);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(6px);
    border: 1.5px solid rgba(209, 213, 219, 0.3);
    padding-bottom: env(safe-area-inset-bottom);

}

.navBar_container_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    height: 100%;
    text-decoration: none;
    color: #757575;
}

.navbar_icon {
    height: 24px;
    margin-bottom: 4px;
    font-size: 30px;
    color: #FCFCFC;
    filter: drop-shadow(1px 1px 2px #00000091)
}

.navbar_txt {
    font-size: 11px;
    line-height: 1;
    color: #FCFCFC;
    filter: drop-shadow(1px 1px 2px #00000091)
}

.dropdown-toggle::after {
    border: 0 !important;
}

@media (max-width: 1000px) {
    .dropdown-menu {
        transform: translate3d(10px, -84px, 0px) !important;
        text-align: end !important;
        background: rgba(15, 15, 15, 0.9) !important;
        -webkit-backdrop-filter: blur(5px) !important;
        backdrop-filter: blur(6px) !important;
    }

    .dropdown-menu-txt {
        color: #FCFCFC !important;
    }

    .dropdown-menu:hover {
        background-color: #000000 !important;
    }

    .dropdown-item:hover {
        background-color: #000000 !important;
    }
}