.searchBarContainer {
    width: 75%;
    margin: auto;
}

.searchBarButton {
    background: rgba(15, 15, 15, 0.351);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(6px);
    border: none;
}


.searchBarButton_icon {
    color: rgb(252, 252, 252);
    filter: drop-shadow(1px 1px 2px #0000003f)
}

@media (min-width: 1024px) {
    .searchBarContainer {
        margin: 0;
        display: flex;
    }

    .searchBarContainer_input {
        margin: 1rem;
    }
}