.orderContainer {
    margin-top: 80px;
}

.orderContainer_card {
    background-color: #FCFCFC;
    box-shadow: 0 6px 15px rgba(61, 37, 37, 0.2);
    border-radius: 15px;
    width: 90%;
    margin: 40px auto;
    height: 160px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.orderContainer_card_img {
    width: 6em;
    height: auto;
    margin: auto;
    flex: 2;
    border-radius: 15px;

}

.orderContainer_card_body {
    padding: 15px;
    justify-content: flex-start;
    flex: 4;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.orderContainer_card_body-data {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.orderContainer_card_body-data-priceStock {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.orderContainer_card_body_form {
    margin-top: 15px;
    display: flex;
    gap: 10px;
}