.productsCardContainer {
    padding-bottom: 25%;

}

.cardComponent--vertical {
    flex-direction: column;
    justify-content: space-between;
    display: grid;
    grid-template-columns: 2fr;
    gap: 16px;

    .pendientStyle {
        right: 0 !important;
        margin-right: 1em;
    }

}

.cardComponent--horizontal {
    flex-direction: column !important;
    align-items: center;

    .pendientStyle {
        left: 0 !important;
        margin-left: 1em;

    }
}


.homeCardImage {
    height: 200px;
}

.loadingSpinner {
    width: 4rem !important;
    height: 4rem !important;
    margin-top: 30%;
}

.card {
    background-color: #FCFCFC;
    box-shadow: 0 6px 15px rgba(61, 37, 37, 0.2);
}


@media (min-width: 1024px) {
    .productsCardContainer {
        width: 75%;
    }
}